<body style="background-color:#e2e1e0; font-family: Open Sans, sans-serif; font-size:100%; font-weight:400; line-height:1.4; color:#000;">
  <table aria-label="Order Details" style="max-width:670px; margin:50px auto 10px; background-color:#fff; padding:50px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24); -moz-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24); box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24); border-top: solid 10px #497abd;">
    <thead>
      <tr>
        <th style="text-align:left;">
          <img loading="lazy" src="https://i.imgur.com/fDVaSAD.jpg" alt="CJ Logistics" style="width: 100px;"/>
        </th>
        <th style="text-align:right;font-weight:400;">{{OrderDate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td colspan="2" style="border: solid 1px #ddd; padding:10px 20px;">
          <p align="center">
            {% if Status == "Received the order" %}
              <img loading="lazy" src="https://i.imgur.com/QFIpLQI.png" alt="Received the order" style="width: 100px;"/>
            {% elsif Status == "On delivery" %}
              <img loading="lazy" src="https://i.imgur.com/KOrEOg6.png" alt="On delivery" style="width: 100px;"/>
            {% elsif Status == "Has an incident" %}
              <img loading="lazy" src="https://i.imgur.com/T8XztBX.png" alt="Has an incident" style="width: 100px;"/>
            {% elsif Status == "Shipping" %}
              <img loading="lazy" src="https://i.imgur.com/ZJ4LyRa.png" alt="Shipping" style="width: 100px;"/>
            {% elsif Status == "Cancel" %}
              <img loading="lazy" src="https://i.imgur.com/aHZKJJR.png" alt="Cancel" style="width: 100px;"/>
            {% elsif Status == "Arrived the warehouse" %}
              <img loading="lazy" src="https://i.imgur.com/isVyMQ4.png" alt="CJ Logistics" style="width: 100px;"/>
            {% else %}
              <img loading="lazy" src="https://i.imgur.com/Bh4GVRH.png" alt="Complete" style="width: 100px;"/>
            {% endif %}
          </p>
          <p style="font-size:14px;margin:0 0 6px 0;">
            <span style="font-weight:bold; display:inline-block; min-width:146px">Status:</span>
            {% if Status == "Received the order" %}
              <b style="color: #dda15e;">{{Status}}</b>
            {% elsif Status == "On delivery" %}
              <b style="color: #2a9d8f;">{{Status}}</b>
            {% elsif Status == "Has an incident" %}
              <b style="color: #fb8b24;">{{Status}}</b>
            {% elsif Status == "Shipping" %}
              <b style="color: #0077b6;">{{Status}}</b>
            {% elsif Status == "Cancel" %}
              <b style="color: #d00000;">{{Status}}</b>
            {% elsif Status == "Arrived the warehouse" %}
              <b style="color: #003049;">{{Status}}</b>
            {% else %}
              <b style="color: #57cc99;">{{Status}}</b>
            {% endif %}
          </p>
          <p style="font-size:14px;margin:0 0 6px 0;">
            <span style="font-weight:bold; display:inline-block; min-width:146px">Order:</span>#{{Id}}
          </p>
          <p style="font-size:14px;margin:0 0 0 0;">
            <span style="font-weight:bold; display:inline-block; min-width:146px">Customer:</span>{{CustomerName}}
          </p>
        </td>
      </tr>
      <tr>
        <td style="height:35px;"></td>
      </tr>
      <tr>
        <td style="width:50%; padding:20px; vertical-align:top">
          <p style="margin:0 0 10px 0; padding:0; font-size:14px;">
            <span style="display:block; font-weight:bold; font-size:13px;">Email</span>{{Email}}
          </p>
          <p style="margin:0 0 10px 0; padding:0;font-size:14px;">
            <span style="display:block; font-weight:bold; font-size:13px;">Phone</span>{{Phone}}
          </p>
        </td>
        <td style="width:50%; padding:20px; vertical-align:top">
          <p style="margin:0 0 10px 0; padding:0;font-size:14px;">
            <span style="display:block; font-weight:bold; font-size:13px;">From</span>{{From}}
          </p>
          <p style="margin:0 0 10px 0; padding:0;font-size:14px;">
            <span style="display:block; font-weight:bold; font-size:13px;">To</span>{{To}}
          </p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" style="font-size:14px; padding:50px 15px 0 15px;">
          <strong style="display:block; margin:0 0 10px 0;">Best regards,</strong>
                <a href="https://www.cjlogistics.com/en/network/en-vn" target="_blank">CJ Logistics</a><br/>
                  3rd Floor, Trung Yen Plaza, Block O17,Trung Hoa Ward, Cau Giay Dist.,Hanoi, Vietnam<br/>
              <br/>
                <b>Phone:</b><a href="tel:02835474456" target="_blank"> +84-28-3547-4456</a><br/>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
