@page "/contact"

<PageTitle>Contact</PageTitle>

<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container text-center py-5">
    <h1 class="text-white display-3">Contact</h1>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0">
        <a class="text-white" href="/">Home</a>
      </p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0">Contact</p>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <div class="bg-primary text-dark text-center p-4">
          <h4 class="m-0"><i class="fa fa-map-marker-alt text-white mr-2"></i>6 Le Thanh Ton, Ben Nghe, District 1, Ho Chi Minh City, Vietnam</h4>
        </div>
        <iframe width="100%" height="470"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=CJ+BUILDING"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </div>
      <div class="col-lg-7">
        <h6 class="text-primary text-uppercase font-weight-bold">Contact Us</h6>
        <h1 class="mb-4">Contact For Any Queries</h1>
        <div class="contact-form bg-secondary" style="padding: 30px;">
          <div id="success"></div>
          <EditForm Model="@this" OnSubmit="SendMessage">
            <div class="control-group">
              <input type="text"
                     class="form-control border-0 p-4"
                     id="name"
                     placeholder="Your Name"
                     @bind="Name"
                     required="required"
                     data-validation-required-message="Please enter your name"/>
              <ValidationMessage For="@(() => Name)" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="email"
                     class="form-control border-0 p-4"
                     id="email"
                     placeholder="Your Email"
                     required="required"
                     @bind="Email"
                     data-validation-required-message="Please enter your email"/>
              <ValidationMessage For="@(() => Email)" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="text"
                     class="form-control border-0 p-4"
                     id="subject"
                     placeholder="Subject"
                     required="required"
                     @bind="Subject"
                     data-validation-required-message="Please enter a subject"/>
              <ValidationMessage For="@(() => Subject)" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <textarea class="form-control border-0 py-3 px-4"
                      rows="3"
                      id="message"
                      placeholder="Message"
                      required="required"
                      @bind="Message"></textarea>
              <ValidationMessage For="@(() => Message)" />
              <p class="help-block text-danger"></p>
            </div>
            <div>
              <button class="btn btn-primary py-3 px-4"
                      type="submit"
                      id="sendMessageButton">
                Send
                Message
              </button>
            </div>
            </EditForm>
        </div>
      </div>
    </div>
  </div>
</div>
