@page "/lookup/{PhoneNumber}"
@using Profio.Website.Data.Orders
@using Profio.Domain.Constants

<PageTitle>Lookup Order</PageTitle>

@if (!Valid)
{
  <div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
      <h1 class="text-white display-3">Invalid</h1>
      <div class="d-inline-flex align-items-center text-white">
        <p class="m-0">
          <a class="text-white" href="/">Home</a>
        </p>
        <i class="fa fa-circle px-3"></i>
        <p class="m-0">Invalid Information</p>
      </div>
    </div>
  </div>
  <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <i class="bi bi-exclamation-triangle display-1 text-danger"></i>
          <h1 class="display-1">Oops</h1>
          <h1 class="mb-4">Invalid Information</h1>
          <p class="mb-4">
            We’re sorry, is your phone number correct or you have not placed an order yet? Please try again.
          </p>
          <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
        </div>
      </div>
    </div>
  </div>
}
else
{
  <div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
      <h1 class="text-white display-3">Lookup</h1>
      <div class="d-inline-flex align-items-center text-white">
        <p class="m-0">
          <a class="text-white" href="/">Home</a>
        </p>
        <i class="fa fa-circle px-3"></i>
        <p class="m-0">Lookup Order</p>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <h6 class="text-primary text-uppercase font-weight-bold">Current Order</h6>
        <h1 class="mb-4">Your Order</h1>
      </div>

      @if (CountOrders == 0)
      {
        <div class="container text-center justify-content-center">
          <p class="text-info">
            You do not have any order at the moment. Please place an order.
          </p>
        </div>
      }

      <RadzenDataList AllowVirtualization="false"WrapItems="true"
                      AllowPaging="true" IsLoading=@IsLoading LoadData=@OnInitializedAsync
                      Data="@Orders" Count=@CountOrders TItem="OrderDto"
                      PageSize="5"
                      PagerHorizontalAlign="HorizontalAlign.Left"
                      ShowPagingSummary="true">
        <Template Context="order">
          <RadzenCard Style="width: 100%; padding: 0;">
            <RadzenRow Gap="0">
              <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title position-relative">
                <RadzenText TextStyle="TextStyle.H6"
                            TagName="TagName.H5"
                            Style="top: 50%;"
                            class="rz-color-info position-absolute">
                  @($"{string.Join("", "#", order.Id[..15], "...")}")
                </RadzenText>
              </RadzenColumn>
              <RadzenColumn Size="12" SizeLG="7" Class="rz-p-4">
                <RadzenRow Gap="0">
                  <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Start</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2">@($"{order.StartedDate:dd/MM/yyyy}")</RadzenText>
                  </RadzenColumn>
                  <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Expected</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2">
                      @($"{order.ExpectedDeliveryTime:dd/MM/yyyy}")
                    </RadzenText>
                  </RadzenColumn>
                  <RadzenColumn Size="12" SizeMD="6" SizeLG="5">
                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Distance</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2">@(order.Distance)</RadzenText>
                  </RadzenColumn>
                  <RadzenColumn Size="12" SizeMD="6" SizeLG="3" Class="rz-text-align-start rz-text-align-lg-end">
                    <RadzenBadge class="price-badge"
                                 Shade="Shade.Lighter"
                                 Text=@(order.Status.ToString())
                                 BadgeStyle="@(order.Status switch
                                             {
                                               OrderStatus.Pending => BadgeStyle.Info,
                                               OrderStatus.InProgress => BadgeStyle.Light,
                                               OrderStatus.Completed => BadgeStyle.Primary,
                                               OrderStatus.Cancelled => BadgeStyle.Danger,
                                               _ => BadgeStyle.Success
                                               })"/>
                  </RadzenColumn>
                </RadzenRow>
              </RadzenColumn>
              <RadzenColumn Size="12" SizeLG="2" Class="rz-p-4">
                <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary"
                                           Value="@(order.Status switch
                                                  {
                                                    OrderStatus.Pending => 25,
                                                    OrderStatus.InProgress => 50,
                                                    OrderStatus.Completed => 75,
                                                    OrderStatus.Cancelled => 0,
                                                    _ => 100})"/>
              </RadzenColumn>
            </RadzenRow>
          </RadzenCard>
        </Template>
      </RadzenDataList>
    </div>
  </div>

  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <h6 class="text-primary text-uppercase font-weight-bold">History</h6>
        <h1 class="mb-4">Your Order History</h1>
      </div>
      <RadzenDataGrid @ref="Grid" @bind-Value=@SelectedOrders KeyProperty="Id"
                      IsLoading="@IsLoading" Count="@CountHistory" Data="@History"
                      LoadData="@OnInitializedAsync" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                      FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                      AllowSorting="true" AllowFiltering="false" AllowPaging="true" PageSize="5"
                      PagerHorizontalAlign="HorizontalAlign.Center" TItem="OrderDto" ColumnWidth="200px">
        <Columns>
          <RadzenDataGridColumn TItem="OrderDto" Property="Id" Title="Id" Frozen="true" Width="50px" TextAlign="TextAlign.Center"/>
          <RadzenDataGridColumn TItem="OrderDto" Property="StartedDate" Title="Started Date"/>
          <RadzenDataGridColumn TItem="OrderDto" Property="ExpectedDeliveryTime" Title="Expected Time" Width="150px"/>
          <RadzenDataGridColumn TItem="OrderDto" Property="Status" Title="Status"/>
          <RadzenDataGridColumn TItem="OrderDto" Property="DestinationZipCode" Title="ZipCode"/>
          <RadzenDataGridColumn TItem="OrderDto" Property="Note" Title="Note" Width="150px"/>
          <RadzenDataGridColumn TItem="OrderDto" Property="Distance" Title="Distance"/>
        </Columns>
        <LoadingTemplate>
          <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
        </LoadingTemplate>
      </RadzenDataGrid>
    </div>
  </div>
}


<style>
        .product-title {
            min-height: 72px;
            background-color: var(--rz-info-lighter);
        }

        .price-badge {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            padding: 8px;
        }
  </style>
